* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(5, 150px);
  border-radius: 2rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}
.displayScreen {
  background-color: black;
  color: white;
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
}
.btn {
  background-color: #d8d9db;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}
.btn:hover {
  background-color: #ebebeb;
}
.btn:active {
  background-color: #bbbcbe;
}
.last-child {
  background-color: #df974c;
  color: white;
}
.last-child:hover {
  background-color: #dfb07e;
}
.last-child:active {
  background-color: #dc872d;
}
.zero-screen {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 35px;
}
